$primarycolor:#FF4418;
* {
    margin:  0;
    padding: 0;
  }

.principal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}

.img-food-container{
  color: white;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top right,rgba(0,0,0,0.5),rgba(255, 254, 254, 0.5)),url(../img/pasta.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 8%;
}
.img-food-container h2 {
  padding-top: 200px;
}
.img-food-container section {
  margin-left: 50px;
}

.food-img{
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.food-img img{
  margin-top: 30px;
  width: 500px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.gps-icon{
  width: 25px;
  height: 25px;
}
.instructions{
  padding-top: 350px;
  text-align: center;
}
.instructions p{
  text-align: justify;
}
.ingredients-content{
  margin-top: 50px;
  text-align: center;
}

.ingredients{
  display: grid;
  grid-template-columns: repeat(auto-fit, 20rem);
  justify-content: center;
}
.data-ingredient img{
  padding-top: 5px;
  width: 100px;
  height: 100px;
}
.item-ingredient{
  background: linear-gradient(to top right,rgba(0,0,0,0.5),rgba(252, 252, 252, 0.5)),url(../img/beef.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100%;
  color: white;
  margin: 20px auto;
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.data-ingredient{
  margin-top: 100px;
  margin-left: 10px;
  text-align: left;
}
.tutorial-container{
  margin-top: 50px;
  text-align: center;

}
.video-container{
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

@media (min-width: 400px) and (max-width: 767px){
  .ingredients{
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    text-align: center;
  }
}


